.formContainer{
    background-color: #ececec;
    padding: 20px;
    border-radius: 20px;
    border: solid 1px #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputContainer{
    margin-bottom: 20px;
}

.inputContainer > input {
    padding: 5px;
    border-radius: 20px;
    border: solid 1px #cecece;
}

.btnContainer{
    display: flex;
    justify-content: space-between;
}

.Btn{
    font-size: 15px ;
    font-weight: bolder;
    color: white;
}

.submit{
    background-color: #22ec5f;
}

.cancel{
    background-color: #ff4f4f;
}

