input{
    background-color: #ececec;
    padding: 10px;
    border-radius: 50px;
    border: solid 0px;
    box-shadow: -11px -11px 14px rgb(255,255,255,0.5),
    12px  12px 14px rgb(70,70,70,0.12);
}